/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.errors {
    font-size: 10px;
    color: red;
}

@font-face {
    font-family: "Light";
    src: local("Poppins-Thin"),
        url("./Fonts/Poppins-Light.ttf") format("truetype");
}

* {
    font-family: 'Open Sans', sans-serif;
}
