.business-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-width: 800px;
}

/* .business-images {
    display: flex;
    width: 80%;
    height: 327px;
    overflow: hidden;
} */

.business-images {
    display: grid;
    grid-auto-flow: column;
    width: 80%;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    height: 327px;
}

.business-snaps {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 30px;
    scroll-behavior: smooth;
}

.business-snaps>* {
    scroll-snap-align: none;
}

.business-snaps::-webkit-scrollbar {
    display: none;
}

.business-solo-image {
    display: flex;
    border: none;
    object-fit: cover;
}


.business-img {
    max-width: 100%;
    max-height: 327px;
    cursor: pointer;
}

.info-photo {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 55vw;
    color: white;
    z-index: 99;
    margin-left: 300px;
    min-width: 800px;
}

.photo-button-div {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 50px;
}

.photo-button {
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    cursor: not-allowed;
}

.scrollbtn {
    height: 30px;
    width: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.prev {
    padding-left: 20px;
}

.next {
    padding-right: 40px;
}

.business-info {
    display: flex;
    flex-direction: column;
}

.review-business-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1300px;
}

.business-review-div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    white-space: pre-line;
    margin-top: 15px;
    overflow: hidden;
    color: grey;
}

.stars-date {
    display: flex;
    flex-direction: row;
}

.business-gradient {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 327px;
    background-image: linear-gradient(360deg, rgb(16, 16, 16), transparent);
}

.business-name-info {
    color: rgb(233, 233, 233);
}

.business-details {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 2ch;
}

.business-info {
    position: sticky;
    border: .5px solid rgb(186, 186, 186);
    border-radius: 3px;
    height: 180px;
    margin-top: 23px;
    padding: 10px;
    margin-left: 10px;
}

.business-info-site {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid rgb(186, 186, 186);
    color: grey;
    height: 65px;
    width: 325px;
    padding: 10px;
    /* white-space: preline; */
    overflow-wrap: break-word;
}

.business-info-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    height: 65px;
    width: 325px;
    text-decoration: none;
    padding: 10px;
}

.business-info-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    height: 65px;
    width: 325px;
    text-decoration: none;
    border-bottom: .5px solid rgb(186, 186, 186);
    padding: 10px;
}

.business-review-images {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.business-review-images>img {
    height: auto;
    width: 100px;
    object-fit: cover;
}

.hours-edit-delete {
    display: flex;
    flex-direction: row;
}

.edit-delete-button {
    width: 80px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.edit-delete-buttons {
    width: 60px;
    color: white;
    border: none;
    background-color: rgba(211, 35, 35, 255);
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.single-review-div {
    word-wrap: break-word;
}

/* business hours */

.business-hour-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
}

.business-hours-div {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    row-gap: 2ch;
}

.business-image {
    object-fit: fill;
}

.business-image>img {
    width: 200px;
}

.business-open-close {
    display: flex;
    flex-direction: column;
    row-gap: .4ch;
    padding-top: 20px;
}

.hours-by-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
